In [9]:
import itertools, json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import colors

import sys
sys.path.append('..')
from lib import *
from lib.maxent import *
import xarray as xr

In [2]:
observables = ['fi', 'fij', 'cij', 'fijk', 'cijk', 'fold_ijk']#, 'fijkl']
observables_dict = {key: dict() for key in observables}
for dataset in ['train', 'test', 'model']:
    params = np.load('data/%s_observables.npz'%dataset)
    for observable in observables:
        observables_dict[observable][dataset] = params[observable]

In [20]:
L = observables_dict['fi']['test'].shape[0]

In [70]:
#for i in range(L):
#    for j in range(L):
#        for k in range(L):
#            if (i == j) or (j == k) or (i==k):
#                observables_dict['cijk']['test'][i,j,k] = 0.0
for i in range(L):
    for j in range(L):
        for k in range(L):
            if not ((i < j) and (j < k)):
                observables_dict['cijk']['test'][i,j,k] = 0.0

In [49]:
cijk_xr = xr.DataArray(observables_dict['cijk']['test'],
             dims=("i", "j", 'k', 'alpha', 'beta', 'gamma'),
             coords={'i': range(L),
                     'j': range(L),
                     'k': range(L),
                     'alpha': list(aminoacids),
                     'beta':list(aminoacids),
                     'gamma':list(aminoacids)})

In [50]:
cijk_df = cijk_xr.to_dataframe('cijk')

In [68]:
cijk_df_flat = cijk_df.loc[0].reset_index()

In [69]:
cijk_df_flat.sort_values('cijk').tail(n=30)

        j  k alpha beta gamma      cijk
97263   1  3     E    E     E  0.000359
210501  2  8     H    G     C  0.000361
268821  3  6     P    C     C  0.000362
178105  2  4     G    G     G  0.000363
191621  2  5     Y    C     C  0.000364
416564  5  7     C    K     F  0.000371
410245  5  6     G    P     G  0.000373
169263  2  3     E    E     E  0.000375
108905  1  4     P    G     G  0.000375
176564  2  4     C    K     F  0.000378
275726  3  7     L    H     H  0.000382
253052  3  4     P    P     P  0.000389
501052  6  8     P    P     P  0.000392
88000   1  2     A    A     A  0.000403
256428  3  5     C    C     K  0.000407
89263   1  2     E    E     E  0.000412
261052  3  5     P    P     P  0.000416
109052  1  4     P    P     P  0.000419
213052  2  8     P    P     P  0.000425
189052  2  5     P    P     P  0.000426
248425  3  4     C    C     G  0.000430
341052  4  6     P    P     P  0.000438
173052  2  3     P    P     P  0.000455
197052  2  6     P    P     P  0.000458
101052  1  3     P    P     P  0.000465
269052  3  6     P    P     P  0.000475
181052  2  4     P    P     P  0.000486
93052   1  2     P    P     P  0.000486
272424  3  7     C    C     F  0.000510
266105  3  6     G    G     G  0.001160