In [47]:
import itertools, json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import colors

import sys
sys.path.append('..')
from lib import *
from lib.maxent import *
import xarray as xr

In [68]:
observables = ['fi', 'fij', 'cij', 'fijk', 'cijk', 'fold_ijk']#, 'fijkl']
observables_dict = {key: dict() for key in observables}
datasets = ['train', 'test', 'model_nskewfcov']
for dataset in datasets:
    params = np.load('data/%s_observables.npz'%dataset)
    for observable in observables:
        observables_dict[observable][dataset] = params[observable]

In [69]:
L = observables_dict['fi']['test'].shape[0]

In [70]:
#for i in range(L):
#    for j in range(L):
#        for k in range(L):
#            if (i == j) or (j == k) or (i==k):
#                observables_dict['cijk']['test'][i,j,k] = 0.0
for i in range(L):
    for j in range(L):
        for k in range(L):
            if not ((i < j) and (j < k)):
                for dataset in datasets:
                    observables_dict['cijk'][dataset][i,j,k] = 0.0

In [71]:
cijk_xr = xr.DataArray(1e4*(observables_dict['cijk']['test']-observables_dict['cijk']['model_nskewfcov']),
             dims=("i", "j", 'k', 'alpha', 'beta', 'gamma'),
             coords={'i': range(L),
                     'j': range(L),
                     'k': range(L),
                     'alpha': list(aminoacids),
                     'beta':list(aminoacids),
                     'gamma':list(aminoacids)})

In [74]:
cijk_df = cijk_xr.to_dataframe('cijk')
cijk_df_flat = cijk_df.loc[0].reset_index()
cijk_df_flat.sort_values('cijk').tail(n=30)

        j  k alpha beta gamma      cijk
169263  2  3     E    E     E  1.086662
358315  4  8     S    S     S  1.116465
137389  1  8     E    L     L  1.119897
250112  3  4     G    G     P  1.178561
188905  2  5     P    G     G  1.196761
259789  3  5     L    L     L  1.207989
90105   1  2     G    G     G  1.211339
93473   1  2     Q    Q     Q  1.212300
101915  1  3     R    S     S  1.250656
428905  5  8     P    G     G  1.292466
93052   1  2     P    P     P  1.292647
177263  2  4     E    E     E  1.294225
98245   1  3     G    P     G  1.330061
131669  1  7     L    E     L  1.357626
182315  2  4     S    S     S  1.374905
270315  3  6     S    S     S  1.382944
170245  2  3     G    P     G  1.415377
122245  1  6     G    P     G  1.425663
88000   1  2     A    A     A  1.543841
91789   1  2     L    L     L  1.544864
132905  1  7     P    G     G  1.592152
178105  2  4     G    G     G  1.598509
498112  6  8     G    G     P  1.660037
282112  3  8     G    G     P  1.715788
194245  2  6     G    P     G  1.900700
348905  4  7     P    G     G  1.907632
410245  5  6     G    P     G  1.917176
258112  3  5     G    G     P  1.971702
108905  1  4     P    G     G  2.024029
266105  3  6     G    G     G  5.652935